/*https://tailwindcss.com/docs/installation/using-postcss*/
/*Imports/ variaveis*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@300&display=swap');
@import url(./responsive.css);
:root{
    /*cores*/
    --AmareloQueimado:rgb(241, 196, 15);
    --AmareloQueimadoLetras:rgb(251, 195, 20);
    --PretoPoucoEscuro:rgb(23, 32, 42);
    --BrancoEscurecido: rgb(208, 211, 212);  
    --HeaderPlanoDeFundo: linear-gradient(to left, rgba(0,0,50,1), rgba(0,0,25,1));
    --AzulEscuroPlanoDeFundo: rgb(0, 0, 35);
    --PlanoDeFundoBody: rgb(87, 88, 88);
    --LinkSelecionado: rgb(154, 125, 10); 
    --PlanoDeFundoCarrosel: rgb(40, 41, 42); 
    --BordaBoxesCarrosel: rgb(191, 192, 193);  
    --TituloPlanoDeFundo: rgb(5, 18, 31); 
    --CinzaAzulado: rgb(39, 45, 51);
    --PesquisarPagPlanoDeFundo:rgb(14, 20, 26);
    --PesquisarPagButton:rgb(31 31 45);

    /*fontes*/
    --Franklin:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --FjallaOne: 'Fjalla One', sans-serif;

}

/*body header main footer*/

body{
    background-color: var(--PlanoDeFundoBody);
    font-family: var(--FjallaOne);
}

main{
    width: 100%;
    height:100%;
}
/*tags*/
h1{
        margin:0;
}
button, .btn, a, a:visited{
    text-decoration: none;
    color: var(--AmareloQueimadoLetras);
}

button, a:hover{
    color: var(--LinkSelecionado);
    cursor: pointer;   
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    text-align: center
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--AmareloQueimadoLetras);
    font-weight: bolder;
    font-size: 1.2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide{
    display:none;
}
.container{
    display:flex;
    width: 100%;
    max-width: 100%;
    
}

/*Cabeçalho da página*/

header{
    color: var(--AmareloQueimadoLetras);
    padding-bottom: 10px;
    background: var(--HeaderPlanoDeFundo);
    height: fit-content;
}
header .container{
    align-items: baseline;
    padding: 0px 10px 0px 10px ;
    justify-content: space-between;
    font-family: var(--FjallaOne);
    padding-bottom: 5px; 
}

.Inicial{
    font-size: 2.5rem;
    cursor:default;
}
header #Pesquisar{
    flex-direction: row-reverse;
    height: 7vh;
    width:100%;
}
header button{
    height: 100%;
    width: 4em;
    background-color: var(--CinzaAzulado) ;
    border: none;
    color: var(--AmareloQueimadoLetras);
    border-radius: 10px;
    margin-left: 5px;

}
header button:hover{
    background-color: var(--AmareloQueimado);
    color: white;
    cursor: pointer;
}
header #Pesquisar input{
    font-size: 14px;
    height: 100%;
    width:inherit;
    cursor: pointer;
    border-radius: 10px;
    padding-left: 15px;
    font-family: var(--Franklin);;

}

header .container th{
    padding: 20px;    
}
/*usuário*/
.usuario{
    height: fit-content;
    margin-right:20px;
    padding: 10px;
}
.usuario:hover .usuarioNome{
    color: var(--AmareloQueimado);
    font-weight: bolder;
    font-size: 1.1rem;
}

.usuarioFoto{
    margin-right:15px;
    height:55px;
    width:50px;
}
.usuarioNome{
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: var(--FjallaOne);
}
/*Drop button*/
.dropbtn{
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
  }
  .dropdown{
    position: relative;
    display: inline-block;
    left: 0;
  }
  .dropdown-content{
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;
  }
/*Escolhas*/

#escolhas{
    padding-top: 10px;
    font-size: 30px;
    padding: 5px;
}
#escolhas a{
    width:100%;
    
    margin: 0px 10px 0px 10px;
}
#escolhas .btn{
    width: 27rem;
}

/*Titulos*/

.titulo{
    font-size: 2rem;
    background-color: var(--TituloPlanoDeFundo);
    color: var(--AmareloQueimadoLetras);
    padding-bottom: 0.3%;
    padding-top: 0.3%;
    margin-top: 5px;
    text-align: center;
}
/*Melhores Livros*/

.melhores{
    justify-content: space-evenly;
    margin:0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: var(--PlanoDeFundoCarrosel);
}

.melhores .item img{
    display: block;
    width: 100%;
    height: 300px;
}
.melhores .item{
    position:relative;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    width: 20%;
    margin: 10px 1.5vw 0px 1.5vw;
    padding: 14px;
    border-radius: 5%;
}

/*Ordem e background dos clasificados*/
.melhores #primeiro, .melhores #primeiro:hover img {
    background: linear-gradient(to top, rgba(255, 225, 55, 1), rgba(255, 255, 255, 1));
    order: 2;
}
.melhores #segundo, .melhores #segundo:hover img{
    order: 1;
    background: linear-gradient(to top, rgba(211, 211, 211,1), rgba(255,255,255,1));
}
.melhores #terceiro, .melhores #terceiro:hover img{
    order: 3;
    background: linear-gradient(to top,rgb(65, 26, 26,1),rgb(163, 162, 165,1));
}
.melhores #quarto, .melhores #quarto:hover img{
    order: 0;
    background: linear-gradient(to top, rgb(28, 29, 34,1), rgb(56, 58, 66,1));
}
.melhores #quinto, .melhores #quinto:hover img{
    order: 4;
    background: linear-gradient(to top, rgba(17, 17, 112,1),rgba(88, 88, 156,1));
}
/*Cores das .box-livros quando o mouse está em cima*/
/*cores dos parágrafos*/
#primeiro p,#terceiro p,#quarto p,#quinto p, #segundo p{
    color: rgb(22, 160, 133);
      
}
.melhores .item p{
    background:none;
}

#primeiro:hover p,#terceiro:hover p,#quarto:hover p,#quinto:hover p, #segundo:hover p{
    color: rgb(31, 126, 70);
    background:none;
      
}
/*Quantidade de favoritos*/

.coracao{
    color:rgb(216, 19, 19);
}

.coracao-quantidade{
    position:absolute;
    right:0vw;
    font-family: var(--Franklin);
    background: var(--AzulEscuroPlanoDeFundo);
    text-align: center;
    padding: 10px;
    border-radius: 15%;
    color: white;
    cursor: pointer;
}

/*Item*/
.item{
    width: 100%;
    margin:5px;
    position:relative;
}
/*Carrosel*/

.carrosel{
    align-self:center;
    display:flex;
    justify-content:center;
    align-items:center; 
    height: 100%;
    width: 100%;
    background-color: var(--PlanoDeFundoCarrosel);
    padding: 20px;
}
.carrossel-button{
    margin:-22%;
}
.box-carrosel{
    margin-top: 10px;
    display: block;
    cursor: pointer;
    background: var(--CinzaAzulado);
    height:450px;
    width:100%;
}
.item p{
    display:flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    height:4.5rem;
    width: 100%;
    color: var(--AmareloQueimadoLetras);
    font-family: var(--FjallaOne);
    font-size: 1rem;
    background-color: var(--CinzaAzulado);
    font-weight: bolder;
    padding: 5px 8px 10px 8px;  
    overflow: auto;
    margin-bottom: 5px;
}


.item:hover img{
    padding:16px;
    background: var(--AmareloQueimado);
}

.item:hover p{
    background-color: var(--AmareloQueimado);
    color: var(--CinzaAzulado);
    
}

/*Autores em rolagem*/

.carrosel-Autores .item{
    background: var(--CinzaAzulado);
}
.box-autores{
    width: 100%;
    height: 300px;
}

/*rodapé*/

footer{
    padding-top: 10px;
    background-color: var(--PretoPoucoEscuro);
}

/*<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Google Books Embedded Viewer API Example</title>
    <script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
    <script type="text/javascript">
      google.books.load();

      function initialize() {
        var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
        viewer.load('ISBN:0738531367');
      }

      google.books.setOnLoadCallback(initialize);
    </script>
  </head>
  <body>
    <div id="viewerCanvas" style="width: 600px; height: 500px"></div>
  </body>
</html>*/