/*https://tailwindcss.com/docs/installation/using-postcss*/
/*Imports/ variaveis*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@300&display=swap');
@import url(./responsive.css);
:root{
    /*cores*/
    --AmareloQueimado:rgb(241, 196, 15);
    --PretoPoucoEscuro:rgb(23, 32, 42);
    --BrancoEscurecido: rgb(208, 211, 212);  
    --CinzaAzulado: rgb(39, 45, 51);

    --AzulEscuroPlanoDeFundo: rgb(0, 0, 35);
    --AmareloQueimadoLetras:rgb(251, 195, 20);
    --LinkSelecionado: rgb(154, 125, 10); 
    --PesquisarPagPlanoDeFundo:rgb(14, 20, 26);
    --PesquisarPagButton:rgb(31 31 45);

    --HeaderPlanoDeFundo:linear-gradient(143deg, rgba(2,4,27,1) 0%, rgba(6,10,31,1) 49%, rgba(0,9,10,1) 100%);
    --PlanoDeFundoCarrosel: linear-gradient(143deg, rgba(0,0,0,1) 0%, rgba(87,88,88,1) 50%, rgba(0,0,0,1) 100%);

    --BordaBoxesCarrosel: rgb(191, 192, 193);  
    --TituloPlanoDeFundo: radial-gradient(circle, rgba(9,6,59,1) 0%, rgba(4,4,25,1) 54%, rgba(5,21,24,1) 100%);
    --PlanoDeFundoBody:linear-gradient(0deg, rgba(0,4,45,1) 0%, rgba(0,0,0,1) 34%, rgba(0,0,0,1) 50%, rgba(3,4,27,1) 99%);
    --FooterPlanoDeFundo:linear-gradient(0deg, rgba(0,4,45,1) 0%, rgba(0,0,0,1) 34%, rgba(0,0,0,1) 50%, rgba(3,4,45,1) 99%);

    /*fontes*/
    --Franklin:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --FjallaOne: 'Fjalla One', sans-serif;

}

/*body header main footer*/

body{
    background: var(--PlanoDeFundoBody);
    font-family: var(--FjallaOne);
}

main{
    width: 100%;
    height:100%;
}
footer{
    height: 5rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    background:var(--FooterPlanoDeFundo);

}
/*tags*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, .btn, a, a:visited{
    text-decoration: none;
    color: var(--AmareloQueimadoLetras);
}

button,a:hover{
    color: var(--LinkSelecionado);
    cursor: pointer;
    background: rgb(3 9 21);
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    text-align: center;
}

h1 {
  color: var(--AmareloQueimadoLetras);
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--AmareloQueimadoLetras);
    font-weight: bolder;
    font-size: 1.2rem;
    margin: 0;
}
p, h2,h3,h4,h5,h6, span,a, a:hover{
    cursor:default;
    background:none;
    margin:0;
}


.hide{
    display:none;
}

.container{
    display:flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    
}

/*Cabeçalho da página*/

header{
    color: var(--AmareloQueimadoLetras);
    padding-bottom: 10px;
    background: var(--HeaderPlanoDeFundo);
    height: fit-content;
    padding: 0px 10px 0px 10px ;
}
header > .container{
    padding-bottom: 5px;
    border-bottom: 5px dashed rgb(33, 47, 61);
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    align-items: center;
}
}

.Inicial{
    font-size: 2.5rem;
    cursor:default;
}

header #Pesquisar{
    /*margin:0 25% 0 25%;*/
    flex-direction: row-reverse;
    height: 60px;
    width:100%;
}
header button{
    height: 100%;
    width: 4em;
    background: rgb(3 9 21);
    border: none;
    color: var(--AmareloQueimadoLetras);
    border-radius: 10px;
    margin-left: 5px;

}
header button:hover{
    background: var(--AmareloQueimado);
    color: white;
    cursor: pointer;
}
header #Pesquisar input{
    font-size: 14px;
    height: 100%;
    width:inherit;
    cursor: pointer;
    border-radius: 10px;
    padding-left: 15px;
    font-family: var(--Franklin);;

}

header .container th{
    padding: 20px;
    text-align:center;
}
/*usuário*/
.usuario{
    width:50%;
    height: fit-content;
    margin-right:20px;
    padding: 10px;
}
.usuario:hover .usuarioNome{
    margin:0;
    font-weight: bolder;
}

.usuarioFoto{
    margin-right:15px;
    height:63px;
    width:60px;
}
.usuarioNome{
    width:calc(fit-content);
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: var(--FjallaOne);
}
/*Drop button*/
.dropelon:hover {
    background: black;    
}

.dropbtn{
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: black;
    
  }
  .dropdown{
    position: relative;
    display: inline-block;
    left: 0;
      
  }
  .dropdown-content{
    display: none;
    position: absolute;
    background: #05081e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  .dropdown-content a:hover {
    background: #212121}
  
.dropdown:hover .dropdown-content {
    display: block;
  }
/*Escolhas*/

#escolhas{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 3rem;
    padding: 5px;
}
#escolhas a{
    /*margin:0 10px 0px 10px;*/
    width: fit-content;
}
#escolhas .btn{
    width: 20rem;
    /*margin: 0px 5% 0px 5%; */
}
/*Titulos*/

.titulo{
    font-size: 2rem;
    background: var(--TituloPlanoDeFundo);
    color: var(--AmareloQueimadoLetras);
    padding-bottom: 0.3%;
    padding-top: 0.3%;
    margin-top: 5px;
    text-align: center;
}
/*Melhores Livros*/

.melhores{
    justify-content: space-evenly;
    margin:0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: var(--PlanoDeFundoCarrosel);
}

.melhores .item img{
    display: block;
    width: 100%;
    height: 300px;
}
.melhores .item{
    position:relative;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    width: 50%;
    margin: 10px 1.5vw 0px 1.5vw;
    padding: 14px;
    border-radius: 5%;
}

/*Ordem e background dos clasificados*/
.melhores #primeiro{
    background: linear-gradient(to top, rgba(255, 225, 55, 1), rgba(255, 255, 255, 1));
    order: 2;
}
.melhores #segundo{
    order: 1;
    background: linear-gradient(to top, rgba(211, 211, 211,1), rgba(255,255,255,1));
}
.melhores #terceiro{
    order: 3;
    background: linear-gradient(to top,rgb(65, 26, 26,1),rgb(163, 162, 165,1));
}
.melhores #quarto{
    order: 0;
    background: linear-gradient(to top, rgb(28, 29, 34,1), rgb(56, 58, 66,1));
}
.melhores #quinto{
    order: 4;
    background: linear-gradient(to top, rgba(17, 17, 112,1),rgba(88, 88, 156,1));
}
/*Cores das .box-livros quando o mouse está em cima*/
.item:hover img{
    background: none;
}
/*cores dos parágrafos*/

#primeiro p,#terceiro p,#quarto p,#quinto p, #segundo p{
    color: rgb(22, 160, 133);
      
}
.melhores .item p{
    background:none;
}

#primeiro:hover p,#terceiro:hover p,#quarto:hover p,#quinto:hover p, #segundo:hover p{
    color: rgb(31, 126, 70);
    background:none;
      
}
/*Quantidade de favoritos*/

.coracao{
    color:rgb(216, 19, 19);
}

.coracao-quantidade{
    position:absolute;
    right:0vw;
    font-family: var(--Franklin);
    background: var(--AzulEscuroPlanoDeFundo);
    text-align: center;
    padding: 10px;
    border-radius: 15%;
    color: white;
    cursor: pointer;
}

/*Item*/
.item{
    position:relative;
}
.active{
    transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    width:30vw;
}
/*Carrosel*/

.carrosel{
    align-self:center;
    display:flex;

    height: 100%;
    width: 100%;
    background: var(--PlanoDeFundoCarrosel);
    padding: 20px;
}
.carrosel .item{
    width:fit-content;
    padding:5px;
    background:var(--AzulEscuroPlanoDeFundo);
    border-radius:5%;
}
.carrossel-button{
    margin:-22%;
}

.box-carrosel{
    margin-top: 10px;
    display: block;
    cursor: pointer;
    height:450px;
    width:100%;
}
.item p{
    display:flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    height:4.5rem;
    width: 100%;
    color: var(--AmareloQueimadoLetras);
    font-family: var(--FjallaOne);
    font-size: 1rem;
    font-weight: bolder;
    padding: 5px 8px 10px 8px;  
    overflow: auto;
    margin-bottom: 5px;
}


.item:hover img{
    padding:16px;
    background:none;
}

.item:hover p{
    font-weight:bolder;
    background:none;
    
}

/*Autores em rolagem*/
.box-autores{
    height: calc(30vh + 2rem);
    width: calc(30vw + 2rem);
}

/*rodapé*/

/*<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Google Books Embedded Viewer API Example</title>
    <script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
    <script type="text/javascript">
      google.books.load();

      function initialize() {
        var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
        viewer.load('ISBN:0738531367');
      }

      google.books.setOnLoadCallback(initialize);
    </script>
  </head>
  <body>
    <div id="viewerCanvas" style="width: 600px; height: 500px"></div>
  </body>
</html>*/