/*Variáveis e imports*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@300&display=swap');
@import url(../../css/main.css);
:root{
    /*Cores*/
    --AmareloQueimado:rgb(241, 196, 15);
    --PretoPoucoEscuro:rgb(23, 32, 42) ;
    --BrancoEscurecido: rgb(208, 211, 212);
    --HeaderPlanoDeFundo: rgb(0, 0, 35);
    --PlanoDeFundoBody: rgb(87, 88, 88);
    --LinkSelecionado: rgb(154, 125, 10);
    --PlanoDeFundoCarrosel: rgb(40, 41, 42);
    --BordaBoxesCarrosel: rgb(191, 192, 193);
    --TituloPlanoDeFundo: rgb(5, 18, 31);
    --AzulMuitoEscuroDestaque: rgb(39, 45, 51); 
}
/*Tags*/
main >h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    color: var(--AmareloQueimado);
    background-color: var(--TituloPlanoDeFundo);
    padding: 4px;
}

/*main*/

.corpo{
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
    flex-direction: row;
    background: linear-gradient(rgb(0,0,0,.5),rgb(0,0,0,.5) 100%),url(../img/outros/PlanoDefundo.png);
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
}
.livro-container{
    width: 330px;
    height:450px;
    margin: 5px;
    padding: 10px;
    border-top: 10px;
    background: linear-gradient(rgb(39, 45, 51,0.6),rgb(39, 45, 51,0.6) 100%);
    text-align: center;
}
.livro-container img{
    width: 100%;
    height: 400px;
}
.livro-container p{
    font-size: 1.1vw;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bolder;
    overflow:hidden;

}
.livro-container:hover{
    background: var(--AmareloQueimado);
    border:10px solid var(--AmareloQueimado);
    
}
.livro-container:hover p{
    color: var(--AzulMuitoEscuroDestaque);
    font-size: 1vw;
}
/*Selecionar a pagina*/

/*footer*/

footer{
    background-color: var(--HeaderPlanoDeFundo);
    height: 40px;
    width: 100%;    
}
