* body {
    background: url(https://static.vecteezy.com/ti/vetor-gratis/p1/3678823-empty-library-interior-design-with-bookshelves-gr%C3%A1tis-vetor.jpg);
    background-size:cover;
}

#social{
    font-size: 29px;
    padding:15px;
    color: #eab31c;
}
.content{
    display:flex;
    margin: 0px;
    justify-content: center;
}

.fa-solid, .fas {
    font-size: 30px;
    text-align: center;
    margin-left: 215px;
  color: #ecec3c;
}
.dropbtn {
    background-color:rgb(12, 42, 90);
    color: #fbc314;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 130px;
    
  }
  .dropdown {
    position: relative;
    display: inline-block;
    right: 10px;
      
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #112d5a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: #b59945;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    
  }
  .dropdown-content a:hover {
    background-color: #1d2459}
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: #212f3d;
  }
/*Caixa com o conteudo*/
#CaixaComIcone{    
    display: flex;
    align-items: center;
    justify-content: center;
}
#Icone{
    margin:0;
    font-size:3rem;
}
.principal{
    padding:20px;
    background: linear-gradient(0deg, rgba(11,18,97,0.7595413165266106) 0%, rgba(3,9,83,0.7987570028011204) 50%, rgba(0,0,0,1) 100%);
    border-radius:15%;
    
}