/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@300&display=swap');
@import './responsive.css';
@import '../../Themes/masterMain.css';

body{
    background: #131315;
    font-family: "Nunito Sans",sans-serif;
}

.login-h1 {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Fjalla One', sans-serif;
  margin: 0 0 30px;
  font-size: 50px;
  padding: 15px;
  text-align: start;
}

.register-box {
    display: none;
    position:absolute; 
    z-index: 3;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #242826 ;
    box-shadow: 0 15px  25px rgb(0, 0, 40);
    border-radius: 10px;

}
.register-box #form-main h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.register-box .inputForm{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;

}
.register-box .user-box label{
    position: relative;
    left: 0;
    top: -60px;
    padding:10px 0;
    font-size: 14px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.register-box .user-box input:focus~label,
.register-box .user-box input:valid~label{
    top: -85px;
    left:0;
    color: rgb(130, 186, 185);
    font-size: 12px;
}

#submit, #login-submit{
    margin-left:50px;
    padding:10px 20px;
    color:rgb(0, 0, 70);
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid rgb(0, 0, 70);
    margin:100px
}

#submit:hover, #login-submit:hover{
    background: rgb(0, 0, 90);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #320ced, 0 0 25px  #320ced, 0 0 50px #320ced, 0 0 100px #320ced;

}

.button-form {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

/* main{
   --AzulEsbranquicado:rgb(210, 214, 225);
    --VerdeAzuladoClaro:rgb(130, 186, 185);
    --AzulMaisAvermelhado:rgb(68, 82, 109); */
/* --AzulEscuroPlanoDeFundo: rgb(0, 0, 35); */
#btn-div {   
    margin-left:70px;
    padding:10px 20px;
    margin-top: 7px;
    
    color: rgb(0, 0, 70);
    background: #242826;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid rgb(0, 0, 70);
    
}

#btn-div:hover{
    background: rgb(0, 0, 90);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #320ced, 0 0 25px  #320ced, 0 0 50px #320ced, 0 0 100px #320ced;

}

.div-main {
    display: flex;
    position:absolute; 
    z-index: 2;
    text-align: center;
    justify-content: center;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);   
    background: #242826 ;
    box-shadow: 0 15px  25px rgb(143, 124, 236,0.7);
    border-radius: 10px;
}


#button-login{
    margin-top: 20px;
}


.login-user{
    display: block;
    position:absolute; 
    z-index: 3;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #242826 ;
    box-shadow: 0 15px  25px rgb(0, 0, 40);
    border-radius: 10px;

}

.login-user h1{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}


.login-user input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;

}

.login-user label{
    position: relative;
    left: 0;
    top: -60px;
    padding:10px 0;
    font-size: 14px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-user  input:focus~label,
.login-user input:valid~label{
    top: -85px;
    left:0;
    color:rgb(130, 186, 185);
    font-size: 12px;
}


#photo-user{
    margin-top: 50px;
    padding:10px 20px ;
    padding-left: -10px;
    color:#CBBDDB;
    background: #242826;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    width:68%;
}
#photo-user:hover{
    position: relative;
    right: -60px;
    top: 0px;
    padding:13px 15px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 4px;
  box-shadow: 0 0 5px #8F7CEC, 0 0 25px  #8F7CEC, 0 0 50px #8F7CEC, 0 0 100px #8F7CEC;
    transition: .5s;
}
input[type="file"] {
     display: none
}