@media screen and (max-width: 800px) {  
    .corpo{
        grid-template-columns: 5fr !important;
        width:100vw !important;
    }
    .livro-container, .autor-container{
       width: 100vw !important;
        padding:10px !important;
    }
}