@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@300&display=swap');
@import url(../../css/responsive.css);
@import url(../css/pages.css);
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@300&display=swap');
@import url(../../css/responsive.css);
@import url(../css/pages.css);

:root{
    /*cores*/
    --CorDaSection: rgb(174, 182, 191);
    --PreviaPlanoDeFundo: rgb(120, 120, 100);
    --CorSectionMaisDestaque rgb(106, 115, 124);



    
    --AmareloQueimado:rgb(241, 196, 15);
    --PretoPoucoEscuro:rgb(23, 32, 42);
    --BrancoEscurecido: rgb(208, 211, 212);  
    --CinzaAzulado: rgb(39, 45, 51);

    --AzulEscuroPlanoDeFundo: rgb(0, 0, 35);
    --AmareloQueimadoLetras:rgb(251, 195, 20);
    --LinkSelecionado: rgb(154, 125, 10); 
    --PesquisarPagPlanoDeFundo:rgb(14, 20, 26);
    --PesquisarPagButton:rgb(31 31 45);

    --HeaderPlanoDeFundo:linear-gradient(143deg, rgba(2,4,27,1) 0%, rgba(6,10,31,1) 49%, rgba(0,9,10,1) 100%);
    --PlanoDeFundoCarrosel: linear-gradient(143deg, rgba(0,0,0,1) 0%, rgba(87,88,88,1) 50%, rgba(0,0,0,1) 100%);

    --BordaBoxesCarrosel: rgb(191, 192, 193);  
    --TituloPlanoDeFundo: radial-gradient(circle, rgba(9,6,59,1) 0%, rgba(4,4,25,1) 54%, rgba(5,21,24,1) 100%);
    --PlanoDeFundoBody:linear-gradient(0deg, rgba(0,4,45,1) 0%, rgba(0,0,0,1) 34%, rgba(0,0,0,1) 50%, rgba(3,4,27,1) 99%);
    --FooterPlanoDeFundo:linear-gradient(0deg, rgba(0,4,45,1) 0%, rgba(0,0,0,1) 34%, rgba(0,0,0,1) 50%, rgba(3,4,45,1) 99%);

    /*fontes*/
    --Franklin:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --FjallaOne: 'Fjalla One', sans-serif;
}

button, .btn, a, a:visited{
    text-decoration: none;
    color: var(--AmareloQueimadoLetras);
}

button, a:hover {
    color: var(--LinkSelecionado);
    cursor: pointer;
    background: rgb(3 9 21);
}

header #Pesquisar{
    /*margin:0 25% 0 25%;*/
    flex-direction: row-reverse;
    height: 60px;
    width:100%;
}
header button{
    height: 100%;
    width: 4em;
    background: rgb(3 9 21);
    border: none;
    color: var(--AmareloQueimadoLetras);
    border-radius: 10px;
    margin-left: 5px;

}
header button:hover{
    background: var(--AmareloQueimado);
    color: white;
    cursor: pointer;
}
header #Pesquisar input{
    font-size: 14px;
    height: 100%;
    width:inherit;
    cursor: pointer;
    border-radius: 10px;
    padding-left: 15px;
    font-family: var(--Franklin);
}

footer{
    height: 5rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    background:var(--FooterPlanoDeFundo);
}

h4 {
  color: var(--AmareloQueimado);
}

ul > li {
  display: flex;
  font-size: 16px;
  color: var(--AmareloQueimado);
  justify-content: flex-start;
}

.container-col{
    display: flex;
    flex-direction: column;
}

#Previa{
    flex-grow:3;
    flex-direction: column;
    background: var(--PreviaPlanoDeFundo);
}
#Corpo{
    flex-basis: max-content;
    flex-direction: column;
}

.sobre {
  
}
