@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@300&display=swap');
@import url(../../css/responsive.css);
@import url(../css/pages.css);

:root{
    /*cores*/
    --CorDaSection: rgb(174, 182, 191);
    --PreviaPlanoDeFundo: rgb(120, 120, 100);
    
    --CorSectionMaisDestaque: rgb(106, 115, 124);
    --AmareloQueimado:rgb(241, 196, 15);
    --PretoPoucoEscuro:rgb(23, 32, 42);
    --BrancoEscurecido: rgb(208, 211, 212);  
    --CinzaAzulado: rgb(39, 45, 51);

    --AzulEscuroPlanoDeFundo: rgb(0, 0, 35);
    --AmareloQueimadoLetras:rgb(251, 195, 20);
    --LinkSelecionado: rgb(154, 125, 10); 
    --PesquisarPagPlanoDeFundo:rgb(14, 20, 26);
    --PesquisarPagButton:rgb(31 31 45);

    --HeaderPlanoDeFundo:linear-gradient(143deg, rgba(2,4,27,1) 0%, rgba(6,10,31,1) 49%, rgba(0,9,10,1) 100%);
    --PlanoDeFundoCarrosel: linear-gradient(143deg, rgba(0,0,0,1) 0%, rgba(87,88,88,1) 50%, rgba(0,0,0,1) 100%);

    --BordaBoxesCarrosel: rgb(191, 192, 193);  
    --TituloPlanoDeFundo: radial-gradient(circle, rgba(9,6,59,1) 0%, rgba(4,4,25,1) 54%, rgba(5,21,24,1) 100%);
    --PlanoDeFundoBody:linear-gradient(0deg, rgba(0,4,45,1) 0%, rgba(0,0,0,1) 34%, rgba(0,0,0,1) 50%, rgba(3,4,27,1) 99%);
    --FooterPlanoDeFundo:linear-gradient(0deg, rgba(0,4,45,1) 0%, rgba(0,0,0,1) 34%, rgba(0,0,0,1) 50%, rgba(3,4,45,1) 99%);

    /*fontes*/
    --Franklin:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --FjallaOne: 'Fjalla One', sans-serif;
}

header> :first-child{
    position:static;
    
}
main > :first-child{
    margin-top:78px;
}

.container-col{
    display: flex;
    flex-direction: column;
}
h4{
    color:var(--AmareloQueimado)
}
#Previa{
    flex-grow:3;
    flex-direction: column;
    border-left
    
}
#Corpo{
    flex-basis: max-content;
    flex-direction: column;
}

.sobre {
  
}
ul li >p{
    text-align: left;
    font-size: 15px;
}
.dropbtn {
    background-color:var(--AzulEscuroPlanoDeFundo);
    color: #fbc314;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 130px;
    
  }
  .dropdown {
    position: relative;
    display: inline-block;
    left: -30px;
      
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #112d5a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  .dropdown-content a {
    color: #b59945;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    
  }
  .dropdown-content a:hover {
    background-color: #1d2459}
  .dropdown:hover .dropdown-content {
    display: block;
    font-size: 10px;
  }
  .dropdown:hover .dropbtn {
    background-color: #212f3d;
  }