@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@300&display=swap');
@import '../../css/responsive.css';
@import './pages.css';

:root{
    /*cores*/
    --SobrePlanoDeFundo: rgb(12, 9, 70);
    --CorDaSection: rgb(174, 182, 191);
    --PreviaPlanoDeFundo: rgb(120, 120, 100);
    --TextoCor: rgb(52, 73, 94 );
    --BodyPlanoDeFundo:rgb(1 9 14);
    --resenhaBackground: linear-gradient(0deg, rgba(12,12,14,0.2049194677871149) 0%, rgba(24,24,34,1) 0%, rgba(0,0,0,0.9332107843137255) 100%);
    /*fontes*/
    --Franklin:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --FjallaOne: 'Fjalla One', sans-serif;
}
/*Tags*/
.Borda-Colorida{
  border: solid 4px;
  border-color: rgb(13, 9, 80) !important;
}

header> :first-child{
    position:static;
    
}
main > :first-child{
    margin-top:78px;
}

h4{
    color:var(--AmareloQueimado)
}

body{
  background: var(--BodyPlanoDeFundo);
  color:var(--TextoCor);
}

button{
  transition: all 0.7s ease;
  padding: 4px;
  border-radius: 15%;
  font-size: 1rem;
}

button:hover{
  color: var(--AzulEscuroPlanoDeFundo);
  cursor: pointer;
  background: var(--AmareloQueimado);
}
/* Corpo e Previa class*/


#Previa{
    flex-basis: content;
    width: 14rem;
    flex-direction: column;
    text-align: center;
}

#Corpo{
  
  text-align: justify;
  align-items: center;
  justify-items: flex-start;
  
}

/*Conteúdo da prévia*/

ul li >p{
  text-align: left;
  font-size: 15px;
}
.dropbtn {
  background-color:var(--AzulEscuroPlanoDeFundo);
  color: #fbc314;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  min-width: 130px;
  
}
.dropdown {
  position: relative;
  display: inline-block;
  left: -30px;
    
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #112d5a;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: justify;
}
.dropdown-content span{
  color: white;
}
.dropdown-content p{
  padding: 3px;
  border-bottom: solid 2px white;
  width: 160px;
}
.dropdown-content a {
  color: #b59945;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 15px;
  
}
.dropdown-content a:hover {
  background-color: #1d2459}
.dropdown:hover .dropdown-content {
  display: block;
  font-size: 10px;
}
.dropdown:hover .dropbtn {
  background-color: #212f3d;
}

/*Conteúdo do corpo*/
#Corpo .titulo{
  margin: 10px 0px 0px;
  width: 100%;
}
/*Caixa com os botões*/
#Usuario-Interacao{
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-gap: 30px;
  padding: 10px;

}
.sobre {
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px;
  background: var(--SobrePlanoDeFundo);
  font-size:10px;
}
/*Autor*/
#Autor{
  padding: 10px;
}
#Autor-Informacao{

  justify-self: flex-start;
  justify-content: flex-start;
  color: var(--AmareloQueimadoLetras);
  padding: 5px 0px 20px 0px;;
}
#Autor-Informacao img{
  width:10rem;
  margin-right: 10px;
}

#Nome{
  padding:20px;
  color: white;
}
#sobre-Autor p {
  height:100px;
  overflow: hidden;
}
#Ler-Mais-Button{
  height: 50px;
}

/*Recomendados*/

.recomendados{
  height: 350px;
  width:250px;
  margin: 15px 15px 0px 15px;
}

/*resenha*/
.usuarioResenha{
  align-items: flex-start;
  padding: 10px;
  width: 130px;
  margin:0;
  align-items: center;
  align-self: flex-start;
  justify-self: flex-start;
  justify-content: flex-start;

}
.estrelas{
  color: var(--AmareloQueimadoLetras);
  position:relative;
  top:20px;
  left:40px;
  background-color: #171720;
  height: 2rem;
  border-radius: 10%;
}
.usuarioNome{
  font-size: 1rem;
  color: white;
  text-align: center;
}
.resenha-container{
  margin: 15px 0 15px 0;
  background: var(--resenhaBackground);
}

.resenha{
  margin: 10px 0;
  padding: 10px;
  position: relative;
  font-family: var(--Franklin);
}